	<style type="text/css">
	html,body{
		padding: 0;
		margin:0;
		font-family: sans-serif;
	}
/* Background Utama Menu*/
	.menu-malasngoding{
		background-color: #A52A2A;
	}

	.menu-malasngoding ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	.menu-malasngoding > ul > li {
		float: left;
	}

	
	.menu-malasngoding li a {
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
/* Background menu Saat di dekati utama*/
	.menu-malasngoding li a:hover{
		background-color: #A52A2A;
	}

	li.dropdown {
		display: inline-block;
	}

	.dropdown:hover .isi-dropdown {
		display: block;
	}

	.isi-dropdown a:hover {
		color: #A52A2A !important;
	}
/* Background menu dropdown sub menu*/
	.isi-dropdown {
		position: absolute;
		display: none;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		background-color: #FAEBD7;
	}
/*Warna Tulisan sub menu*/
	.isi-dropdown a {
		color: #0000FF !important;
	}
/*Warna Tulisan sub menu dan warna backgroun menu saat didekati*/
	.isi-dropdown a:hover {
		color: 	#00FFFF !important;
		background: #FFE4C4 !important;
	}
	
	
	
	
</style>